.Todo {
    overflow-wrap: anywhere;
}
.Todo--completed {
    color: #0025ff;
    text-decoration: line-through;
}

.Todo__InlineInput {
    width: calc(100% - 7.5px);
}

.Todo--editing {
    width: 100%;
    margin-left: 4px;
}
