.Todo {
    overflow-wrap: anywhere;
    display: flex;
    align-items: flex-start;
}
.Todo--completed {
    color: #0025ff;
    text-decoration: line-through;
}

.Todo--editing {
    width: 100%;
    margin-left: 4px;
}

.Todo__InlineInput {
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, 0.401);
    border-radius: 4px;
    height: 1.5rem;
    font-size: 1rem;
}

.Todo__InlineInput:focus {
    outline: 1px solid #0064ff;
}

@media screen and (max-width: 768px) {
    .Todo__InlineInput {
        width: 100%;
    }
}
